/* =========== SETUP =========== */

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #90d43d;
    color: white;
}

/* =========== CONSTANTS =========== */

.input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

h1{
    font-size: 3rem;
    margin: 0;
    text-align: left;
}
section h1{
    text-align: center;
}
h2{
    font-size: 2.1rem;
    font-weight: 500;
    text-align: left;
}
p{
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
}

section{
    position: relative;
    padding: 0 40px;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
    color: #383838;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    max-width: 1200px;
}

.brick {
    margin: auto;
    padding: 0;
    display: inline-block;
    min-height: 10px;
    float: left;
}

.container .brick {
    height: 294px;
}

.half {
    width: 49.999%;
}

.third {
    width: 33.33%;
}
.two_thirds {
  width: 66.66%;
}

.quarter {
    width: 24.999%;
}

.brick-inputs {
    width: 90%;
    padding: 25px 15px 0px 15px;
}

.rules {
    text-align: left;
    max-width: 1200px;
    margin: auto;
}
.rules p {
    margin: auto;
    margin-top: 10px;
    max-width: 100%;
    padding: 0px 15px;
}
#rules_text {
  background: rgb(60,60,60);
  background: linear-gradient(150deg,rgba(70,80,60,255) 0%, rgba(20,30,10,255) 100%);
}

article{
    background-color: white;
    color: #383838;
    padding: 40px;
    margin: 0 auto 40px auto;
    display: inline-block;
}

article h1{
    font-size: 2rem;
}

article .labels{
    text-align: left;
    margin-bottom: 20px;
}

article .labels span{
    font-size: 0.6rem;
    font-weight: 600;
    padding: 5px 10px;
    margin-right: 10px;
    color: white;
    background-color: #383838;
    border-radius: 7px;
}

article .labels span.red{
    background-color: #cb2222;
}
article .labels span.blue{
    background-color: #21b6cb;
}
article .labels span.orange{
    background-color: #eb990d;
}

.left{
    float: left;
}
.right{
    float: right;
}

.full-height{
    height: 720px;
    height: 100vh;
}

.full-width{
    width: 100%;
}

.setter{
  margin: 5px 0px;
}

.buy-sell-button{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

.center{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    text-align: center;
}

.background{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px !important;
}

.button{
    padding: 15px 25px;
    display: inline-block;
    border: 3px solid #90d43d;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    color: #90d43d;
    cursor: pointer;
}

.button:focus {outline:0;}

.button.primary{
    border: none;
    /* background-color: #13102F; */
    background-color: #90d43d;
    /* color: white; */
    color: black;
    font-weight: 500;
}

.light {
    background-color: white;
    color: #383838;
}

.dark {
    background-color: #383838;
    color: white;
}

p.alert, span.alert {
    color: red;
}

.padding{
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-small{
    padding-top: 20px;
    padding-bottom: 20px;
}

.margin{
    margin-top: 40px;
    margin-bottom: 40px;
}

.margin-small{
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.game_number {
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin: 4px
}
.test_game {
  width: calc(33.33% - 10px);
  background-color: #e5e5e5;
}
.test_game h3 {
  -webkit-transform: translateY(300%);
  transform: translateY(300%);
}
.real_game {
  width: calc(100% - 10px);
  max-height: 33%;
  background-color: #ff8686;
}
.games {
  max-width: 1200px;
  display: flex;
  margin: auto;
  min-height: 150px;
  height: auto;
}
.real_games {
  height: 100%;
  float: left;
}

.statistics {

}

form input {
    padding: 5px;
}

.table-all {
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table;
    color: #383838;
    border:1px solid #ccc;
}
.table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.table-all tr:nth-child(odd){background-color:#fff}.table-all tr:nth-child(even){background-color:#f1f1f1}
.table-all td,.table-all th{padding:10px 10px;display:table-cell;text-align:left;vertical-align:top}
.table-all th:first-child,.table-all td:first-child{padding-left:16px}



/* =========== CHART ========= */

/* =========== MESSAGES ========= */

.messages {
    list-style-type:none
}

.message.debug {
    color: #b800cc;
}

.message.warning {
    color: yellow;
}

.message.error {
    color: red;
}

.message.success {
    color: green;
}

/* =========== NAVIGATION =========== */

nav.absolute{
    position: absolute;
    background: none;
}

nav {
    background: rgb(60,60,60);
    background: linear-gradient(150deg, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
    opacity: 85%;
    display: block;
    z-index: 2;
    height: 60px;
    top: 0;
    width: 92%;
    padding: 40px 4% 20px 4%;
}


nav a{
    text-decoration: none;
    margin-right: 40px;
    vertical-align: middle;
    line-height: 1;
    color: inherit;
}

nav .logo{
    font-size: 40px;
    margin-right: 100px;
    line-height: 1;
}

/* =========== LANDING =========== */

.landing{
    position: relative;
    background-image: url('../img/goat.jpg');
}

.landing .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: rgb(147,0,193);
    background: linear-gradient(150deg, rgba(147,0,193,1) 0%, rgba(0,230,255,1) 100%); */
}

.overlay {
    background: rgb(60,60,60);
    background: linear-gradient(150deg, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
    opacity: 85%;
}

.landing .center{
    height: 200px;
    max-width: 800px;
}

.landing .center h2{
    max-width: 550px;
    margin: auto;
    text-align: center;
    color: white;
}
section h2{
  text-align: center;
}

.statistics {
  padding: 5px 40px 15px;
}

.landing .center h1{
    text-align: center;
    color: white;
}

.landing .center .button{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.about{
    width: 46%;
    padding: 50px 2%;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    color: #383838;
}


/* MODAL FORM */
from.modal {
    z-index: 10;
}

form.modal.login {
    text-align: center;
    max-width: 450px;
}

form.modal.login p {
    text-align: center;
    margin: 5px;
}

.login form.center {
    height: 250px;
    max-width: 400px;
}

section.login {
    width: 100%;
    padding: 0;
    height: 100vh;
    min-height: 800px;
}

form.center h3{
    max-width: auto;
    text-align: center;
}

form.center p{
    max-width: auto;
    text-align: center;
    margin: 20px;
}

form.center .button{
    margin-top: 40px;
}

/* FOOTER */
footer{
    position: relative;
    padding: 0 40px;
    text-align: center;
    overflow: hidden;
    color: #383838;
}


footer span {
    margin-left: 40px;
    margin-right: 40px;
}

footer span a i {
    margin-right: 5px
}

/* control panel */
.control-box {
    border: solid black 1px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

/* =========== STICKY HEADER =========== */

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    }

    .game-header {
    background: rgb(60,60,60);
    background: linear-gradient(150deg,rgba(70,80,60,255) 0%, rgba(20,30,10,255) 100%);
    padding: 10px 40px;
    overflow: auto;
}
