{% extends "pastvina/base.html" %}
{% load extras %}
{% load static %}

{% block title %} {{ round.name }} | Logika N-Trophy {% endblock%}

{% block head %}
<script>var csrf_token="{{ csrf_token }}";</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static "pastvina/js/update_charts.js" %}"></script>
<script src="{% static "pastvina/js/trade.js" %}"></script>
{% endblock %}

{% block content %}
<section class="padding-small light">
    <h1>Vítejte na pastvině</h1>
</section>
<!-- <section class="padding-small dark">
    <h2>Pravidla</h2>
    <p>
        <ul>
            <li>Nejezte vzácné druhy květin.</li>
            <li>Netrkejte ostatní kozy.</li>
        </ul>
    </p>
</section> -->


{% include "pastvina/parts/game_header.html" with crop_storage_size=round.crop_storage_size ticks_count=round.ticks %}

<section class="padding-small light">
    <h2>Přehled plodin</h2>
    <div class="container">
        <table class="table-all striped">
        <thead>
            <tr>
                <th>Název</th>
                <th>Doba růstu</th>
                <th>Doba kažení</th>
                <th>Cena sazenice</th>
                <th>Cena plodiny</th>
            </tr>
        </thead>
        <tbody>
            {% for crop in crops %}
            <tr>
                <td>{{ crop.name }}</td>
                <td>{{ crop.growth_time }}</td>
                <td>{{ crop.rotting_time }}</td>
                <td><span class="crop-buy-price-{{ crop.id }}">-</span></td>
                <td><span class="crop-sell-price-{{ crop.id }}">-</span></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</section>

<section class="padding-small light">
        {% for crop in crops %}
        <div class="container control-box">
            <div class="trade-inputs">
                <div>
                    <table class="table-amounts">
                        <tr>
                            <td>Roustoucí</th>
                            <td><span id="crop-growing-amount-{{crop.id}}">0</span></td>
                        </tr>
                        <tr>
                            <td>K&nbsp;prodeji</th>
                            <td><span id="crop-rotting-amount-{{crop.id}}">0</span></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class="table-amounts">
                        <tr>
                            <td style="font-weight: bolder;" colspan="2">Akce iterace</td>
                        </tr>
                        <tr>
                            <td>Nakoupeno</th>
                            <td><span id="crop-bought-amount-{{crop.id}}">0</span></td>
                        </tr>
                        <tr>
                            <td>Prodáno</th>
                            <td><span id="crop-sold-amount-{{crop.id}}">0</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            {% include "pastvina/parts/age_chart.html" with chart_type="crop" color=crop.color name=crop.name name_genitive=crop.name_genitive id=crop.id growth_time=crop.growth_time life_time=crop.rotting_time %}
            <div class="trade-inputs">
                <div>
                    <div class="full-width horizontal-container">
                        <input id="buy-crop-count-{{crop.id}}" type="number" value=0 min="0">
                        <p>(max&nbsp;<span id="crop-buy-limit-{{crop.id}}">-&nbsp;</span>)</p>
                    </div>
                    <button id="buy-crop-button-{{crop.id}}" class="full-width" onclick="requestTrade('buy', 'crop', {{crop.id}}, document.getElementById('buy-crop-count-{{crop.id}}').value)">Koupit</button>
                </div>
                <div>
                    <div class="full-width horizontal-container">
                        <input id="sell-crop-count-{{crop.id}}" type="number" value=0 min="0">
                        <p>(max&nbsp;<span id="crop-sell-limit-{{crop.id}}">-&nbsp;</span>)</p>
                    </div>
                    <button id="sell-crop-button-{{crop.id}}" class="full-width" onclick="requestTrade('sell', 'crop', {{crop.id}}, document.getElementById('sell-crop-count-{{crop.id}}').value)">Prodat</button>
                </div>
            </div>
        </div>
        {% endfor %}
</section>

<section class="padding-small light">
    <h2>Přehled dobytka</h2>
    <div class="container">
        <table class="table-all striped">
        <thead>
            <tr>
                <th>Název</th>
                <th>Doba růstu</th>
                <th>Délka života</th>
                <th>Cena mláděte</th>
                <th>Cena dospělce</th>
                <th>Spotřeba</th>
                <th>Druh potravy</th>
                <th>Výdělek jedince</th>
                <th>Produkt</th>
            </tr>
        </thead>
        <tbody>
            {% for ls in livestock %}
            <tr>
                <td>{{ ls.name }}</td>
                <td>{{ ls.growth_time }}</td>
                <td>{{ ls.life_time }}</td>
                <td><span class="ls-buy-price-{{ ls.id }}">-</span></td>
                <td><span class="ls-sell-price-{{ ls.id }}">-</span></td>
                <td>{{ ls.consumption }}</td>
                <td>{{ ls.consumption_type.name }}</td>
                <td><span class="ls-product-price-{{ ls.id }}">-</span></td>
                <td>{{ ls.product_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</section>

<section class="padding-small light">
        {% for ls in livestock %}
        <div class="container control-box">
            <div class="trade-inputs">
                <div>
                    <table class="table-amounts">
                        <tr>
                            <td>Mláďata</th>
                            <td><span id="ls-baby-amount-{{ls.id}}">0</span></td>
                        </tr>
                        <tr>
                            <td>Dospělci</th>
                            <td><span id="ls-adult-amount-{{ls.id}}">0</span></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class="table-amounts">
                        <tr>
                            <td style="font-weight: bolder;" colspan="2">Akce iterace</td>
                        </tr>
                        <tr>
                            <td>Nakoupeno</th>
                            <td><span id="ls-bought-amount-{{ls.id}}">0</span></td>
                        </tr>
                        <tr>
                            <td>Prodáno</th>
                            <td><span id="ls-sold-amount-{{ls.id}}">0</span></td>
                        </tr>
                        <tr>
                            <td>Vypuštěno</th>
                            <td><span id="ls-killed-amount-{{ls.id}}">0</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            {% include "pastvina/parts/age_chart.html" with chart_type="livestock" color=ls.color name=ls.name name_genitive=ls.name_genitive id=ls.id growth_time=ls.growth_time life_time=ls.life_time %}
            <div class="trade-inputs">
                <div>
                    <div class="full-width horizontal-container">
                        <input id="buy-ls-count-{{ls.id}}" type="number" value=0 min="0">
                        <p>(max&nbsp;<span id="ls-buy-limit-{{ls.id}}">-&nbsp;</span>)</p>
                    </div>
                    <button id="buy-ls-button-{{ls.id}}" class="full-width" onclick="requestTrade('buy', 'ls', {{ls.id}}, document.getElementById('buy-ls-count-{{ls.id}}').value)">Koupit</button>
                </div>
                <div>
                    <div class="full-width horizontal-container">
                        <input id="sell-ls-count-{{ls.id}}" type="number" value=0 min="0">
                        <p>(max&nbsp;<span id="ls-sell-limit-{{ls.id}}">{{round.livestock_slaughter_limit}}</span>)</p>
                    </div>
                    <button id="sell-ls-button-{{ls.id}}" class="full-width" onclick="requestTrade('sell', 'ls', {{ls.id}}, document.getElementById('sell-ls-count-{{ls.id}}').value)">Prodat</button>
                </div>
                <div>
                    <div class="full-width horizontal-container">
                        <input id="kill-ls-count-{{ls.id}}" type="number" value=0 min="0">
                        <p>(max&nbsp;<span id="ls-kill-limit-{{ls.id}}">-&nbsp;</span>)</p>
                    </div>
                    <button id="kill-ls-button-{{ls.id}}" class="full-width" onclick="requestTrade('kill', 'ls', {{ls.id}}, document.getElementById('kill-ls-count-{{ls.id}}').value)">Vypustit do divočiny</button>
                </div>
            </div>
        </div>
        {% endfor %}
</section>

<script>
    {% for crop in crops %}
    cropRottingTime[{{ crop.id }}] = {{ crop.rotting_time }};
    {% endfor %}

    {% for ls in livestock %}
    livestockLifeTime[{{ ls.id }}] = {{ ls.life_time }};
    livestockConsumption[{{ ls.id }}] = Object();
    livestockConsumption[{{ ls.id }}].crop_id = {{ ls.consumption_type.id }};
    livestockConsumption[{{ ls.id }}].amount = {{ ls.consumption }};
    {% endfor %}
    livestockSellLimit = {{ round.livestock_slaughter_limit }};
    cropStorageSize = {{ round.crop_storage_size }};

    $(function() {
        setInterval(updateTimeToNextTick, 1000);
    });
</script>

{% endblock %}
