{% extends "pastvina/base.html" %}
{% load extras %}

{% block title %} Hry {% endblock%}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<section class="padding-small light">
    <h1>Vítejte na pastvině</h1>
</section>

<section class="padding-small light">
    <h2>Přehled kol</h2>
    <div class="game-type-container">
        {% if test_round %}
        <div style="flex: 1;" class="vertical-container">
            <div class="game-wrapper">
                <a class="game-ref test_game" href="{% url 'game' test_round.id %}">
                    <h3>Testovací hra</h3>
                </a>
            </div>
        </div>
        {% endif %}
        <div style="flex: 2;" class="vertical-container">
        {% for round in real_rounds %}
            <div class="game-wrapper">
                <a class="game-ref real_game" href="{% url 'game' round.id %}">
                    <h3>Kolo {{forloop.counter}}</h3>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

<section class="statistics">
    <h2>Statistiky z odehraných kol:</h2>
    <div class="vertical-container">
        {% if test_round %}
            <div class="game-wrapper">
                <a class="game-ref" href="{% url 'game' test_round.id %}">
                    <h3 style="margin:4px">Testovací hra</h3>
                </a>
            </div>
        {% endif %}
        {% for round in real_rounds %}
            <div class="game-wrapper">
                <a class="game-ref" href="{% url 'game' round.id %}">
                    <h3 style="margin:4px">Kolo {{forloop.counter}}</h3>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
