{% extends "pastvina/base.html" %}
{% load extras %}
{% load static %}

{% block title %} Kontrola času | Logika N-Trophy {% endblock%}

{% block content %}

<section style="display: flex;" class="full-height full-width landing background">
    <div class="overlay"></div>
    <div id="page-content" style="flex: 1; display: flex;">
        <div style="padding-bottom: 100px;" class="center">
            <div style="padding: 40px;" class="vertical-container dark-color-transparent">
                <div style="padding: 10px">
                    <h2>Kontrola času</h2>
                </div>
                <div style="padding: 10px" class="vertical-container">
                    <p>Turnaround time: <span id="turnaround-time">-</span>&nbsp;s</p>
                    <p>Client-server time: <span id="clientserver-time">-</span>&nbsp;s</p>
                    <p>Server-client time: <span id="serverclient-time">-</span>&nbsp;s</p>
                </div>
                <div style="padding: 10px" class="vertical-container">
                    <p id="time-check-error-msg" style="color: #ff2000; display: none;"></p>
                </div>
            </div>
        </div>
    </div>
    <script>
        function updatePageContentMargin() {
            $("#page-content").css("margin-top", $("#nav-menu").height() + "px");
        }

        updatePageContentMargin();
        window.onresize = updatePageContentMargin;
    </script>
</section>

<section class="dark">
    <div class="horizontal-container">
        {% for contrib in contribs %}
            {% include "pastvina/parts/contrib.html" %}
        {% endfor %}
    </div>

    <script>
        function pingServer() {
            $.post("ping", {
                'request_time': Date.now(),
                'csrfmiddlewaretoken': csrf_token,
            }, "json")
            .done(function(data) {
                let responseTime = Date.now();
                data.response_time = responseTime;
                console.log(data);
                if (!updateResults(data.request_time, data.server_time, responseTime)) {
                    alert("Nastala chyba při komunikaci se serverem se serverem.");
                }
            })
            .fail(function(error, textStatus) {
                let userErrorText = "";
                if (textStatus == "timeout") {
                    userErrorText = "Server neodpověděl včas.";
                } else if (error.responseText) {
                    userErrorText = error.responseText;
                } else {
                    userErrorText = "Neznámá chyba."
                    console.log(textStatus);
                    console.log(error);
                }
                alert("Nepodařilo se spojit se serverem.\n" + userErrorText);
            });
        }

        function updateResults(requestTime, serverTime, responseTime) {
            if (requestTime === null || serverTime === null || responseTime === null) {
                return false;
            }

            let turnaroundTime = responseTime - requestTime;
            if (turnaroundTime < 0) {
                return false;
            }
            let clientServerTime = serverTime - requestTime;
            let serverClientTime = responseTime - serverTime;

            console.log("Turnaround time: " + (turnaroundTime / 1000) + " s");
            console.log("Client-server time: " + (clientServerTime / 1000) + " s");
            console.log("Server-client time: " + (serverClientTime / 1000) + " s");

            $("#turnaround-time").text(turnaroundTime / 1000);
            $("#clientserver-time").text(clientServerTime / 1000);
            $("#clientserver-time").css("color", clientServerTime < 0 ? "#ff2000" : "white");
            $("#serverclient-time").text(serverClientTime / 1000);
            $("#serverclient-time").css("color", serverClientTime < 0 ? "#ff2000" : "white");

            let errorMsgElem = $("#time-check-error-msg");
            if (clientServerTime < 0) {
                errorMsgElem.css("display", "");
                errorMsgElem.text("Vaše lokální hodiny jsou dopředu o " + (-clientServerTime / 1000) + " s");
            } else if(serverClientTime < 0) {
                errorMsgElem.css("display", "");
                errorMsgElem.text("Vaše lokální hodiny jsou pozadu o " + (-serverClientTime / 1000) + " s");
            } else {
                errorMsgElem.css("display", "none");
                errorMsgElem.text("");
            }

            return true;
        }

        $(pingServer);
    </script>
</section>

{% endblock %}
