{% extends "pastvina/base.html" %}

{% block title %} Aktivace týmu | Logika N-Trophy {% endblock%}

{% block content %}
    <section class="padding dark-color login">
        <form method="POST" action="" class="login center">
	    {% csrf_token %}
            <h3 class="dark-text">Aktivace účtu</h3>

            <p><input type="text" name="username" placeholder="id týmu"></p>

            <p><button type="submit" class="login-button primary">Aktivuj svůj účet!</button></p>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </form>
    </section>
{% endblock %}
