{% load extras %}

<div class="age-chart">
    <canvas id="{{chart_type}}-{{ id }}"></canvas>
</div>


<script>
{{chart_type}}AgeCharts[{{id}}] = new Chart(
    document.getElementById('{{chart_type}}-{{id}}').getContext('2d'),
    {
        type: 'bar',
        data: {
            labels: [
            {% for ls in ''|center:growth_time %}
                "týden růstu {{ forloop.revcounter }}",
            {% endfor %}
            {% for ls in ''|center:life_time %}
                {% if chart_type == 'livestock' %}
                "týden života {{ forloop.counter }}",
                {% else %}
                "týden kažení {{ forloop.counter }}",
                {% endif %}
            {% endfor %}
            ],
            datasets: [{
                {% if chart_type == 'livestock' %}
                label: 'chov {{name_genitive}} dle stáří',
                {% else %}
                label: 'produkce {{name_genitive}} dle stáří',
                {% endif %}
                data: [0],
                backgroundColor: [
                    {% for ls in ''|center:growth_time %}
                        "{{color}}",
                    {% endfor %}
                    {% for ls in ''|center:life_time %}
                        "{{color | add_red}}",
                    {% endfor %}
                ],
            }]
        },
        options: {
            aspectRatio: 2,
            responsive: true,
            scales: {
                yAxes: [
                    {
                        scaleLabel: {
                            beginAtZero: true,
                            display: true,
                            {% if chart_type == 'livestock' %}
                            labelString: "kusy",
                            {% else %}
                            labelString: "tuny",
                            {% endif %}
                        },
                    }
                ],

                xAxes: [
                    {
                        scaleLabel: {
                            display: true,
                            labelString: "stáří",
                        },
                    }
                ],
            },
        }
    }
);
</script>
