<div class="brick half">
    <canvas id="{{chart_type}}-{{ id }}"></canvas>
</div>


<script>
{{chart_type}}AgeCharts[{{id}}] = new Chart(
    document.getElementById('{{chart_type}}-{{id}}').getContext('2d'),
    {
        type: 'bar',
        data: {
            labels: [
                "týden 0",
            ],
            datasets: [{
                {% if chart_type == 'livestock' %}
                label: 'chov {{name_genitive}} dle stáří',
                {% else %}
                label: 'produkce {{name_genitive}} dle stáří',
                {% endif %}
                backgroundColor: '{{ color }}',
                data: [
                0,
                ]
            }]
        },
        options: {
            aspectRatio: 2,
            responsive: true,
            scales: {
                yAxes: [
                    {
                        scaleLabel: {
                            display: true,
                            {% if chart_type == 'livestock' %}
                            labelString: "kusy",
                            {% else %}
                            labelString: "tuny",
                            {% endif %}
                        },
                    }
                ],

                xAxes: [
                    {
                        scaleLabel: {
                            display: true,
                            labelString: "stáří",
                        },
                    }
                ],
            },
        }
    }
);
</script>
