<!-- Game Header -->
<div id="game-header">
    <div class="horizontal-apart game-header dark-color">
        <div class="horizontal-packed-container">
            <div>Peníze: <span id="game-money">-</span> (-<span id="consumption-money">0</span>)</div>
            <div>Sklad plodin: <span id="crop-rotting-amount">0</span>&nbsp;(+<span id="next-tick-new-rotting">0</span>)&nbsp;/&nbsp;{{ crop_storage_size }}</div>
        </div>
        <div class="horizontal-packed-container">
            <div>Iterace: <span id="tick-index">-</span>&nbsp;/&nbsp;{{ ticks_count }}</div>
            <div>Další iterace za&nbsp;<span id="tick-countdown">-</span>&nbsp;s</div>
        </div>
    </div>
</div>
<div style="display: none;" id="game-header-placeholder"></div>

<script>
    var gameHeader = document.getElementById("game-header");
    var gameHeaderPlaceholder = document.getElementById("game-header-placeholder");

    gameHeaderPlaceholder.style.height = $('#game-header').height() + "px";
    var gameHeaderOffset = Math.max(gameHeader.offsetTop, gameHeaderPlaceholder.offsetTop);

    window.onresize = function() {
        gameHeaderPlaceholder.style.height = $('#game-header').height() + "px";
        gameHeaderOffset = Math.max(gameHeader.offsetTop, gameHeaderPlaceholder.offsetTop);
    };

    function checkGameHeaderPos() {
        if (window.pageYOffset > gameHeaderOffset) {
            gameHeader.classList.add("sticky");
            gameHeaderPlaceholder.style.display = "";
        } else {
            gameHeader.classList.remove("sticky");
            gameHeaderPlaceholder.style.display = "none";
        }
    }

    window.onscroll = function() {
        checkGameHeaderPos();
    };
</script>
