<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
window.MathJax = {
    tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        macros: {
            R: "\\mathbb{R}",
            N: "\\mathbb{N}",
            bold: ["{\\bf #1}", 1],
        },
    },
};
</script>

<script src="https://cdn.jsdelivr.net/npm/latex.js/dist/latex.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>