<!-- Navbar -->

{% if navbar_absolute_pos %}
<nav class="absolute dark-color">
{% else %}
<nav class="dark-color">
{% endif %}
<div class="horizontal-apart"  id="nav-menu">
    <div class="horizontal-packed-container">
    <a href="/" class="logo">N-trophy 2021 finále</a>

    <a href="{% url 'game_overview' %}">Přehled kol</a>
    <a href="{% url 'team_game_stats' %}">Statistiky</a>

    <a href="{% url 'rules' %}">Pravidla</a>

    </div>
    <div class="horizontal-packed-container">
    {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}">Admin</a>
    {% endif %}
    {% if user.is_authenticated %}
        {% comment %}
        <a href="{% url 'account' %}">{{ request.user.contestant }}</a>
        {% endcomment %}
        <a href="{% url 'logout' %}">Odhlásit se</a>
    {% endif %}
    </div>
</div>
</nav>

<a href="#nav-menu" id="top-button" color="blue" title="Go to top">
    <i class="fas fa-arrow-up"></i>
</a>
