<!-- Navbar -->

{% if navbar_absolute_pos %}
<nav class="absolute dark-color">
{% else %}
<nav class="dark-color">
{% endif %}
<div class="horizontal-apart"  id="nav-menu">
    <div class="horizontal-packed-container">
    <a href="/" class="logo">Finálová úloha logika</a>

    <a href="/">Pravidla</a>
    <a href="{% url 'game_overview' %}">Hrát</a>

    </div>
    <div class="horizontal-packed-container">
    {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}">Admin</a>
    {% endif %}
    {% if user.is_authenticated %}
        {{ request.user.get_full_name }}
        <a href="{% url 'logout' %}">Odhlásit se</a>
    {% endif %}
    </div>
</div>
</nav>

<a href="#" id="top-button" class="dark-color" title="Go to top">
    <i class="fas fa-arrow-up"></i>
</a>
